version: "2.4"
services:
  #-----------------------------------------------------------------------------
  plug:
    image: docker.repo.ci.tp-prd.tiredpixel.com/isoxya.build/isoxya-plugin-spellchecker:unstable
    init: true
    volumes:
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
      #
      - ./isx-plug-spellchecker.cabal:/home/x/repo/isx-plug-spellchecker.cabal
    networks:
      plug:
        aliases:
          - spellchecker.plugin.dev.isoxya.com
    restart: on-failure
  #-----------------------------------------------------------------------------
networks:
  plug:
    external: true
    name: isoxya_plug
