version: "2.4"
services:
  plugin_spellchecker:
    image: docker.io/tiredpixel/isoxya-plugin-spellchecker.build:unstable
    init: true
    volumes:
      - ./isoxya-plugin-spellchecker.cabal:/home/x/repo/isoxya-plugin-spellchecker.cabal
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      processor:
        aliases:
          - isoxya-plugin-spellchecker.localhost
    restart: on-failure
    env_file: .env
networks:
  processor: {}
