# vim: set ft=yaml:
version: '2.4'
services:
  plugin-spellchecker:
    build: .
    #image: docker.io/tiredpixel/isoxya-plugin-spellchecker.build:unstable
    init: true
    volumes:
      - ./.stylish-haskell.yaml:/home/x/repo/.stylish-haskell.yaml
      - ./bin:/home/x/repo/bin
      - ./cabal.project.freeze:/home/x/repo/cabal.project.freeze
      - ./isoxya-plugin-spellchecker.cabal:/home/x/repo/isoxya-plugin-spellchecker.cabal
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      processor:
        aliases:
          - isoxya-plugin-spellchecker.localhost
    restart: on-failure
networks:
  processor: {}
